/**
 * Forsíða 
 */

.forsida {
  text-align: left;

  h1 {
    font-size: 1.5rem; 
    font-weight: 600;
    padding-bottom: 0.5rem;
    padding-top: 1.5rem;
  }

  h2 {
    font-size: 1.5rem; 
    font-weight: 600;
  }

  h3 {
    font-size: 1.25rem; 
    padding-bottom:2rem;
    font-weight: 400;
    color:#757575;
  }

  h4 {
    font-size: 1rem; 
    font-weight: 600;
    color:#757575;
  }
}
