/**
 * Haus á síðum.
 */

header {
  margin-top: var(--vertical-space);
  text-align: center;

  h1 {
    font-size: 4.5rem; 
    font-weight: 700;
  }

  h2 {
    font-size: 2rem; 
    font-weight: 400;
  }
}

