/**
 * Inngangsmynd í stað header útfærslu.
 */

.intro {
  position: relative;
  display: flex;
  width: 100%;
  min-height: calc(100vh - var(--height-nav));
  margin-top: 0;
  color: var(--color-background-primary);
  background-image: url("./myndir/fartolva.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 50% 50%;
  background-size: cover;

  .protection {
    position: absolute;
    inset: 0;
    z-index: 1;
    background-color: var(--color-protection);
  }

  .content {
    position: relative;
    z-index: 2;
    align-items: center;
    justify-content: center;
    margin: auto;
    color:var(--color-text-primary);
  }

  .content h1 {
    margin-top: calc(var(--spacing) * -10);
  }

  .content h2 {
    margin-bottom: calc(var(--spacing) * 2);
  }

  .content a {
    text-decoration:none;
    padding: 0.5rem 1rem 0.5rem 1.5rem;
    color:black;
    background-color: var(--color-background-primary);
    border-radius:0.5rem; 
    margin:0.4rem;
  }
  
  .content a:nth-child(even) {
    background-color: #2c2c2c;
    color:var(--color-background-primary);
    padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  }
  
 }

 .um-page .intro {
  background-image: url("./myndir/abstrakt.jpg");

  .content h1 {
    color: var(--color-background-secondary);
  }

  .content h2 {
    color: rgba(128, 128, 128, 0.5);
}

.protection {
  position: absolute;
  inset: 0;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.5);
}
}
.um-page main.content {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: var(--spacing);
  box-sizing: border-box;
  z-index: 1;
  align-items: center;
  justify-content: center;
  margin: auto;

.text-block {
  max-width: 1200px;
  margin: 0 auto;
  text-align: left;
  padding: var(--spacing);
}

.text-block h2 {
  margin-bottom: calc(var(--spacing) * 0.5);
}

.text-block h3 {
  margin-bottom: calc(var(--spacing) * 1);
  color: var(--color-grey);
}

}
