/**
 * Reviews.
 */

.manysolutions {
  display: flex;
  grid-template-rows: auto;
  gap: calc(var(--spacing) * 2);
  justify-items: center;
  width: 100%;
  padding-bottom:2rem;
}

.solution {
  display: flex;
  flex-direction:column;
  gap: var(--spacing);
  padding:1.5rem; 
  width: 100%;
  border: 1px solid lightgrey;
  border-radius:0.5rem;

  .solution-title {
    width: 100%;
  }

  .solution-content {
    justify-content:left;

  }

  .solution-image {
    order: -1;
  }
  
  .solution-image img {
    display: block;
    height: 160px;
    object-fit: cover;
    width:100%;
  }

  .solution-info a {
    color:#b3b3b3;
  }
}
